frames
full-games
models
datasets
playertrack-madamachi
runs
__pycache__
squashball-recog-grad
output.mp4
court-seg-nikhil
gg-precise-ball
precise-ball
ns-precise-ball
general-ball
roboflowmodels
general-8000
main-video (1).mp4
__pycache__
/trained-models
trained-models
yolo11n.pt
main.mp4
*.png
*.mp4
*.dn
squashvenv
venv
black_ball_frames
black_ball_games