.venv
main.mp4
venv
roboflowmodels
uploads
black_ball_dataset
black_ball_frames
black_ball_videos
30fps1920
.vscode
.ruff_cache
.__pycache__
datasets
*.zip
github_token.txt
importantoutput
output(25k)
output_for_website
all_main_1_output
30fps1920
positions(10k)
trained-models
runs
*.avi
squash/__pycache__
.idea
__pycache__
.env
*.pyc
!main_laptop.mp4
annotated.mp4
annotated_web.mp4
cropped_2_email.mp4
cropped_email_video.mp4
!*.png
main2.mp4
main3.mp4
static_video_full.mp4
still_video_blackball_cropped.mp4
to_email.mp4
balltracking.mp4
important.mp4
frames-self/
self1.mp4
self2.mp4
mainold.mp4
training/